<%- include('../partials/header') %> 
<h1><%= title %></h1><br>
<% if (user) { %>
<div class="profile-container">
  <div class="white-text"><%= user.name %></div>
  <img
    class="profile-avatar"
    src="<%= user.avatar %> "
    referrerpolicy="no-referrer"
  />
  <div class="white-text">Email: <%= user.email %></div>
  <div class="white-text">Member Since: <%= user.createdAt.toLocaleDateString()%></div>
</div>
<div class="post-container1">
<h3>My Posts</h3>
<div class="post-container2">
<% restaurants.forEach(function(restaurant) { %> 
   <% if (restaurant.user.equals(user._id)) { %>
    <a class="res-link" href="/restaurants/<%=restaurant._id%>">
        <img class="res-image-profile" src="<%= restaurant.image %>" />
        <div class="res-title"><%= restaurant.name %></div><br>
    </a>
<% } %> 
<% }) %>
</div>
</div>
<% } %> 
<%- include('../partials/footer') %>
