<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <img class="logo" src="/images/logo.png">
    <% if (user) { %>
      <a href="/logout">Signout</a>
      <a href="/restaurants/new"	<%- title === 'Add Restaurant' ? 'class="active"' : '' %>>
        Share</a>
        <a href="/profile" <%- title === 'Profile' ? 'class="active"' : '' %>>Profile</a>
        <img class="nav-avatar" src="<%= user.avatar %> " referrerpolicy="no-referrer">
        <div class="welcome-msg">Welcome back, <%= user.name %></div>
        <% } else { %>
          <a href="/auth/google" class="login">Sign-In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
          <% } %>
          <a href="/restaurants" <%- title === 'All Restaurants' ? 'class="active"' : '' %>>All Restaurants</a>
  </nav>
  <body>
    <h1><%= title %></h1><br>