<%- include('../partials/header') %>
<h1 class="main-title">Foodscovery</h1>
<h4>Share and Discover Your Favorite Restaurants</h5><br>
<div class="grid-box">
  <% restaurants.forEach(function(res) { %>
  <div class="box">
    <br />
    <% if (res.rating === 5) { %> 
    <div class="rating">⭐⭐⭐⭐⭐</div>
      <% } %> 
    <% if (res.rating === 4) { %> 
    <div class="rating">⭐⭐⭐⭐</div>
      <% } %> 
    <% if (res.rating === 3) { %> 
    <div class="rating">⭐⭐⭐</div>
      <% } %> 
    <% if (res.rating === 2) { %> 
    <div class="rating">⭐⭐</div>
      <% } %> 
    <% if (res.rating === 1) { %> 
    <div class="rating">⭐</div>
      <% } %> 
    <div class="location"><%= res.location %></div>
    <br /><br />
    <div class="restaurant-name"><%= res.name %></div>
    <br />
    <img class="res-image-preview" src="<%= res.image %>" />
    <div class="details"><a class="details" href="/restaurants/<%= res._id %>">DETAILS</a></div>
    <br />
  </div>
  <% }); %>
</div>
<%- include('../partials/footer') %>
