<%- include('../partials/header') %>
<h1 class="main-title">Foodscovery</h1>
<h4>Share and Discover Your Favorite Restaurants</h5><br>
<div class="grid-box">
  <% restaurants.forEach(function(res) { %>
  <div class="box">
    <br />
    <% if (res.rating === 5) { %> 
    <div class="rating">⭐⭐⭐⭐⭐</div>
      <% } %> 
    <% if (res.rating === 4) { %> 
    <div class="rating">⭐⭐⭐⭐</div>
      <% } %> 
    <% if (res.rating === 3) { %> 
    <div class="rating">⭐⭐⭐</div>
      <% } %> 
    <% if (res.rating === 2) { %> 
    <div class="rating">⭐⭐</div>
      <% } %> 
    <% if (res.rating === 1) { %> 
    <div class="rating">⭐</div>
      <% } %> 
    <div class="location"><%= res.location %></div>
    <br /><br />
    <div class="restaurant-name"><%= res.name %></div>
    <br />
    <a href="/restaurants/<%= res._id %>">
    <img class="res-image-preview" src="<%= res.image %>" />
    </a>
    <br /><br />
    <% if (res.comments.length === 1) { %> 
      <a href="/restaurants/<%= res._id %>">
    <div class="comments"><%= res.comments.length %> comment</div>
  </a>
    <% } %>
    <% if (res.comments.length > 1) { %> 
      <a href="/restaurants/<%= res._id %>">
    <div class="comments"><%= res.comments.length %> comments</div>
  </a>
    <% } %>
  </div>
  <% }); %>
</div>
<%- include('../partials/footer') %>
