<%- include('../partials/header') %> 

<div class="box"><br>
<% restaurants.forEach(function(res) { %>
    <div class="restaurant-name">Restaurant: <%= res.name %> </div><br>
    <div>Location: <%= res.location %> </div><br>
    <div>Rating: <%= res.rating %> </div><br>
    <div><a href="/restaurants/<%= res._id %>">DETAILS</a></div><br><hr>
<% }); %>
</div>

<%- include('../partials/footer')  %> 