<%- include('../partials/header') %>
<h1><%= title %></h1><br>
  <% if (user && user._id.equals(restaurant.user)) { %>
    <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
      <button class="delete-btn" type="submit">Delete Post</button>
    </form>
    <a class="edit-btn" href="/restaurants/<%= restaurant._id%>/edit">Edit Post</a>
  <% } %>
<div class="review">
  <br />
  <div class="user-name"><%= restaurant.userName %></div>
  <br>
  <img class="user-avatar" src="<%= restaurant.userAvatar %> " referrerpolicy="no-referrer">
  <br><br>

  <img class="res-image" src="<%= restaurant.image %>">
  <div>Posted On: <%= restaurant.createdAt.toLocaleDateString() %> <%= restaurant.createdAt.toLocaleTimeString() %></div>
  <br />
  <!-- <% if (restaurant.createdAt === restaurant.updatedAt) { %> 
    <% } else { %> 
      <div>Updated On: <%= restaurant.updatedAt.toLocaleTimeString() %></div>
    <br />
  <% } %>  -->
  <div>Location: <%= restaurant.location %></div>
  <br />
  <div>Rating: <%= restaurant.rating %></div>
  <br />
  <div>Review: <%= restaurant.review %></div>
  <br />
  <div class="comment-section">Chat:
    
    <% if (restaurant.comments.length) { %>
      <table>
        <tbody class="chat-box">
          <% restaurant.comments.forEach(function(comment) { %>
            <tr class="table">
              <td>
                <img class="comment-avatar" src="<%= comment.userAvatar %> " referrerpolicy="no-referrer">
              </td>
              <td class="chat-name"><%= comment.userName %>:</td>
              <td class="comment-text"><%= comment.content %></td>
              <td class="chat-date"><%= comment.createdAt.toLocaleDateString() %> <%= comment.createdAt.toLocaleTimeString() %> </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else { %>
          <h5>No Comments Yet</h5>
          <% } %>
          <% if (user) { %> 
          <form id="add-comment-form" method="POST"
        action="/restaurants/<%= restaurant._id %>/comments">
        <textarea class="chat-inp" rows="1" cols="100" name="content" required></textarea>
        <input class="chat-btn" type="submit" value="Submit">
      </form>
      <% } else { %> 
        <a class="chat-log-in" href="/auth/google">Log In to Chat</a>
        <% } %> 
  </div>
</div>


<%- include('../partials/footer') %>
