<%- include('../partials/header')  %> 

<div class="review"><br>
        <div class="restaurant-name">Restaurant: <%= restaurant.name %> </div><br>
        <div>Location: <%= restaurant.location %> </div><br>
        <div>Rating: <%= restaurant.rating %> </div><br>
        <div>Review: <%= restaurant.review %> </div><br>
    </div>

<%- include('../partials/footer')  %> 